In [1]:
%load_ext autoreload
%autoreload 2

In [9]:
from pandas_ods_reader import read_ods

In [10]:
file_path = "Dicionário_Microdados_Enem_2021.ods"

In [17]:
data = read_ods(file_path, headers=False, skiprows=5)
data.head()

,column.0,column.1,column.2,column.3,column.4,column.5
0,NU_INSCRICAO,Número de inscrição1,None,None,12.0,Numérica
1,NU_ANO,Ano do Enem,None,None,4.0,Numérica
2,TP_FAIXA_ETARIA,Faixa etária2,1,Menor de 17 anos,2.0,Numérica
3,None,None,2,17 anos,NaN,None
4,None,None,3,18 anos,NaN,None